#map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.floating-panel {
        position: absolute;
        top: 10px;
        margin-left: auto;
        margin-right: auto;
        z-index: 5;
        background-color: "transparent";
        padding: 5px;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
}

.label{
  background-color: #5499C7;
}

.button{
  background-color: #2471A3;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 30px;
  width: 100px;
}