* {margin: 0; padding: 0;}
 
body{
  background-color: #7FB3D5;
}

 
ul {
  list-style-type: none;
  position: absolute;

  width: 35%;
  float: left;
  height: 700px;
  overflow: auto;
}
 
h3 {
  color: white;
  font: bold 16px/1.5 Helvetica, Verdana, sans-serif;
}

 
li img {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 15px 0 0;
}
 
li p {
  color: white;
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  background-color: #1F618D;  
  margin: 8px;
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #633974;
  cursor: pointer;
}

.highlight_stay{
    background:#633974;
}
#map {
        height: 100%;
        width: 65%;
        float: right;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
